*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
overlays/
overlays/*
*.iml
*.iws
.idea/
*.ipr
/.project
/.settings
.classpath
.project
.settings/
test-output/
*/.externalToolBuilders/*
bin/
.DS_Store
/.gradle
out/

